@font-face {
	font-family:'Genericons';
	font-display:swap;
	src:local('Genericons'),
	url(https://g.newsweek.com/www/fonts/Genericons.eot);
	font-display:swap;
	src:url(https://g.newsweek.com/www/fonts/Genericons.eot?#iefix) format("embedded-opentype"),
	url(https://g.newsweek.com/www/fonts/Genericons.woff) format("woff"),
	url(https://g.newsweek.com/www/fonts/Genericons.ttf) format("truetype"),
	url(https://g.newsweek.com/www/fonts/Genericons.svg#Genericons) format("svg");
	font-weight:normal;
	font-style:normal
}
.genericon {
	font-size:26px;
	vertical-align:top;
	text-align:center;
	display:block;
	font-family:"Genericons";
	cursor:pointer
}
.genericon-chat:before {
	content:"\f108"
}
.genericon-collapse:before {
	content:"\f432"
}
.genericon-comment:before {
	content:"\f300"
}
.genericon-expand:before {
	content:"\f431"
}
.genericon-downarrow:before {
	content:"\f502"
}
.genericon-facebook:before {
	content:"\f203"
}
.genericon-facebook-alt:before {
	content:"\f204"
}
.genericon-feed:before {
	content:"\f413"
}
.genericon-flag:before {
	content:"\f468"
}
.genericon-googleplus:before {
	content:"\f218"
}
.genericon-googleplus-alt:before {
	content:"\f218"
}
.genericon-home:before {
	content:"\f409"
}
.genericon-info:before {
	content:"\f455"
}
.genericon-instagram:before {
	content:"\f215"
}
.genericon-linkedin-alt:before {
	content:"\f208"
}
.genericon-linkedin:before {
	content:"\f207"
}
.genericon-mail:before {
	content:"\f410"
}
.genericon-menu:before {
	content:"\f419"
}
.genericon-next:before {
	content:"\f429"
}
.genericon-pinterest-alt:before {
	content:"\f210"
}
.genericon-pinterest:before {
	content:"\f209"
}
.genericon-play:before {
	content:"\f452"
}
.genericon-previous:before {
	content:"\f430"
}
.genericon-reddit:before {
	content:"\f222"
}
.genericon-search:before {
	content:"\f400"
}
.genericon-subscribe:before {
	content:"\f463"
}
.genericon-tumblr:before {
	content:"\f214"
}
.genericon-twitter:before {
	content:"\f202"
}
.genericon-uparrow:before {
	content:"\f500"
}
.genericon-warning:before {
	content:"\f414"
}
.genericon-close:before {
	content:"\f405"
}
.genericon-close-alt:before {
	content:"\f406"
}